<div class="col-xs-12">
    <form name="loginForm" ng-submit="vm.login(loginForm)" novalidate>
        <div class="form-group">
            <label for="UserId">User Id</label>
            <input name="userId" type="text" ng-model="user.userId" class="form-control"
                   ng-class="{'has-error':loginForm.userId.$error.required && loginForm.$submitted}"
                   id="UserId" placeholder="Email" required>
            <span ng-show="loginForm.userId.$error.required && loginForm.$submitted">UserId Required</span>
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input name="password" type="password"
                   ng-class="{'has-error':loginForm.password.$error.required && loginForm.$submitted}"
                   ng-model="user.password" class="form-control" id="Password" placeholder="Password" required>
            <span ng-show="loginForm.password.$error.required && loginForm.$submitted">Password Required</span>
        </div>
              <button type="submit"  class="btn btn-primary">Submit</button>
        <button type="button" ng-click="vm.cancel()"  class="btn btn-default">Cancel</button>
    </form>
</div>